<div class="sidenav col-lg-2">
	<h1 class="title text-center"><img src="assets/imgs/stop.png" width="50" height="50"> IsTop</h1>	
	<div class="text-center">
		<a ui-sref="createRoom" class="title"><button type="button" class="btn btn-danger btn-lg btn-block"><i class="glyphicon glyphicon-plus"></i> Nova Sala</button></a>
	</div>
	<h3 class="text-center title"> Ranking Semanal</h3>
	<div class="progress">
		<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 66%; font-size:large;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Vitão - 6666 pts</div>
	</div>
	<div class="progress">
		<div class="progress-bar" role="progressbar" style="width: 55%; font-size:large;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">Vini - 5555 pts</div>
	</div>
	<div class="progress">
		<div class="progress-bar" role="progressbar" style="width: 50%; font-size:large;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Rafa - 5000 pts</div>
	</div>
	<h2 class="text-center title"> Ranking Mensal</h2>
	<div class="progress">
		<div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" style="width: 99%; font-size:large;" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">Nerdão - 9999 pts</div>
	</div>
	<div class="panel-footer footer">
		<p>IsTop todos os direitos reservados<small> @ Copyright 2017</small></p>
	</div>
</div>